<html>
  <head>
    <meta http-equiv="refresh" content="0; url=http://staging.zeczec.com/"> 
    <meta content='{{ site.title }}' property='og:title' />
    <title>{{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    <!-- 有事嗎？請到 @muanchiou 找我。:) -->
    <div id='container'>
      <div class="content">
        {{ content }}
      </div>
    </div>
    <div class="ar">
      <small class="muted">如有不便請見諒，同時請到<a href="http://www.facebook.com/zeczec.com">嘖嘖臉書頁面</a>關心我們的最新消息！&hearts;</small>
    </div>
    <div class="ar">
      <div class="fb-like" data-href="https://www.facebook.com/zeczec.com" data-send="false" data-width="500" data-show-faces="false"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="zeczec_com" data-count="none">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <div id="fb-root"></div>
  </body>
</html>
