<html>
  <head>
    <meta content='{{ site.title }}' property='og:title' />
    <title>{{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    <!-- 有事嗎？請到 @muanchiou 找我。:) -->
    <div id='container'>
      <div class="content">
        {{ content }}
      </div>
    </div>
    <div class="ar"><small class="muted">如有不便請見諒，同時請到<a href="http://www.facebook.com/zeczec.com">嘖嘖臉書頁面</a>關心我們的最新消息！&hearts;</small></div>
    <div class="fb-like" data-href="https://www.facebook.com/zeczec.com" data-send="false" data-width="500" data-show-faces="false"></div>
    <div id="fb-root"></div>
  </body>
</html>
